*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  height: 100vh;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.menu {
  width: 290px;
  background: linear-gradient(180deg, #571A0C 0%, rgba(170, 61, 38, 0.9));
  height: inherit;
  position: fixed;
  left: -290px;
  transition: .5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.menu-show {
  left: 0;
}
.menu .menu-action {
  width: 40px;
  position: absolute;
  top: 10px;
  right: -40px;
  background: #8b4131;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.menu .logo {
  padding: 20px 40px;
}
.menu .logo img {
  max-width: 245px;
}
.menu .comunicacao {
  flex: 1;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu .comunicacao .codigo {
  position: relative;
  background: rgba(146, 72, 57, 0.72);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
.menu .comunicacao .codigo div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu .comunicacao .codigo p {
  font-size: 13px;
  color: #F5F5F5;
}
.menu .comunicacao .codigo a {
  text-decoration: none;
  color: #fff;
  padding: 8px 0px;
  font-weight: 600;
}
.menu .comunicacao .codigo .btn-copy {
  padding: 5px;
  border-radius: 4px;
  border-width: 0.1px;
  cursor: pointer;
}
.menu .comunicacao .codigo .btn-copy:hover {
  background-color: #C4C4C4;
}
.menu .comunicacao .codigo-externo {
  margin: 10px 0;
}
.menu .comunicacao .grupo-botao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.menu .comunicacao .codigo-externo input[type=text] {
  margin: 5px 0;
  padding: 10px 5px;
  border-radius: 5px;
  border-width: 0px;
  border-color: #d0d0d0;
  color: #fff;
  width: 100%;
  background-color: rgb(160 72 54);
}
.menu .comunicacao .codigo-externo input:focus {
  outline: #fff;
  border-width: 0.1px;
}
.menu .comunicacao .grupo-botao button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  border-width: 0.2px;
  cursor: pointer;
}
.menu .comunicacao .grupo-botao button:hover {
  background-color: #C4C4C4;
}
.menu .comunicacao .grupo-botao button div {
  overflow: hidden;
  width: 30px;
}
.menu .comunicacao .desconhecido label {
  padding: 5px 0;
}
.menu .comunicacao .desconhecido input[type=checkbox] {
  background-color: rgba(127, 150, 255, 0.548);
  border-width: 0.1px ;
}
.center {
  flex: 1;
  height: inherit;
  background-color: #C4C4C4;
}
.chatbox {
  width: 290px;
  height: inherit;
  background-color: #616161;
}