*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  height: 100vh;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.menu {
  width: 290px;
  background: linear-gradient(180deg, #571A0C 0%, rgba(170, 61, 38, 0.9));
  height: inherit;
  position: fixed;
  left: -290px;
  transition: .5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
.menu-show {
  left: 0;
}
.menu .menu-action {
  width: 40px;
  position: absolute;
  top: 10px;
  right: -40px;
  background: #8b4131;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.menu .logo {
  padding: 20px 40px;
}
.menu .logo img {
  max-width: 245px;
}
.menu .comunicacao {
  flex: 1;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu .comunicacao .codigo {
  position: relative;
  background: rgba(146, 72, 57, 0.72);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
.menu .comunicacao .codigo div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu .comunicacao .codigo p {
  font-size: 13px;
  color: #F5F5F5;
}
.menu .comunicacao .codigo a {
  text-decoration: none;
  color: #fff;
  padding: 8px 0px;
  font-weight: 600;
}
.menu .comunicacao .codigo .btn-copy {
  padding: 5px;
  border-radius: 4px;
  border-width: 0.1px;
  cursor: pointer;
}
.menu .comunicacao .codigo .btn-copy:hover {
  background-color: #C4C4C4;
}
.menu .comunicacao .codigo-externo {
  margin: 10px 0;
}
.menu .comunicacao .grupo-botao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.menu .comunicacao .codigo-externo input[type=text] {
  margin: 5px 0;
  padding: 10px 5px;
  border-radius: 5px;
  border-width: 0px;
  border-color: #d0d0d0;
  color: #fff;
  width: 100%;
  background-color: rgb(160 72 54);
}
.menu .comunicacao .codigo-externo input:focus {
  outline: #fff;
  border-width: 0.1px;
}
.menu .comunicacao .grupo-botao button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  border-width: 0.2px;
  cursor: pointer;
}
.menu .comunicacao .grupo-botao button:hover {
  background-color: #C4C4C4;
}
.menu .comunicacao .grupo-botao button div {
  overflow: hidden;
  width: 30px;
}
.menu .comunicacao .desconhecido label {
  padding: 5px 0;
  user-select: none;
}
.menu .comunicacao .desconhecido input[type=checkbox] {
  background-color: rgba(127, 150, 255, 0.548);
  border-width: 0.1px ;
}

/* Centro */
.center {
  flex: 1;
  height: inherit;
  background-color: #C4C4C4;
  padding: 50px 40px;
}
.center .box_video {
  position: relative;
  background-color: #313131;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .box_video .video_remote {
  position: absolute;
  width: 100%;
  height: 100%;
}
.center .box_video .no_call {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #672314 0%, #A44631 100%);
}
.center .box_video .no_call_show {
  display: flex;
}
.center .box_video .no_call img {
  width: 350px;
}
.center .box_video .no_call p {
  font-size: 68px;
  font-weight: bold;
  color: #fff;
}
.center .box_video .box_video_small {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 200px;
  border-radius: 5px;
  background-color: #212121;
  border-color: #fff;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .box_video .box_video_small .video_local {
  /* width: inherit; */
  height: inherit;
}
.center .box_video .record_actions {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: rgba(173, 173, 173, 0.76);
  border-radius: 10px;
  display: none;
}
.center .box_video .record_actions_show {
  display: block;
}
.center .box_video .record_actions ul{
  list-style: none;
}
.center .box_video .record_actions ul li {
  display: inline-block;
}
.center .box_video .record_actions ul li button {
  padding: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.center .box_video .record_actions ul li button:hover {
  background-color: rgba(255, 255, 255, 0.199);
}
.center .box_video .call_actions {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px 0;
}
.center .box_video .call_actions ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.center .box_video .call_actions ul li {
  display: inline;
}
.center .box_video .call_actions .btn_red {
  background-color: rgb(154 60 60) !important;
}
.center .box_video .call_actions button {
  padding: 10px;
  border-radius: 50px;
  border-width: 0px;
  background: rgba(129, 129, 129, 0.71);
  border: 0.758889px solid #FFFFFF;
  box-sizing: border-box;
  margin: 0 10px;
  cursor: pointer;
}
.center .box_video .call_actions button:hover {
  background-color: rgba(129, 129, 129, 0.877);
}
.center .box_video .call_actions .call {
  width: 100px;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: #9A3C3C;
}
.center .box_video .call_actions .call:hover {
  background-color: #b64545;
}

/* ChatBox */

.chatbox {
  width: 290px;
  height: inherit;
  background-color: #616161;
}