*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  height: 100vh;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.menu {
  width: 290px;
  background: linear-gradient(180deg, #571A0C 0%, rgba(170, 61, 38, 0.9));
  height: inherit;
  position: fixed;
  left: -290px;
  transition: .5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
}
.menu-show {
  left: 0;
}
.menu .menu-action {
  width: 40px;
  position: absolute;
  top: 10px;
  right: -40px;
  background: #8b4131;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.menu .logo {
  padding: 20px 40px;
}
.menu .logo img {
  max-width: 245px;
}
.menu .comunicacao {
  flex: 1;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu .comunicacao .codigo {
  position: relative;
  background: rgba(146, 72, 57, 0.72);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}
.menu .comunicacao .codigo div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu .comunicacao .codigo p {
  font-size: 13px;
  color: #F5F5F5;
}
.menu .comunicacao .codigo a {
  text-decoration: none;
  color: #fff;
  padding: 8px 0px;
  font-weight: 600;
}
.menu .comunicacao .codigo .btn-copy {
  padding: 5px;
  border-radius: 4px;
  border-width: 0.1px;
  cursor: pointer;
}
.menu .comunicacao .codigo .btn-copy:hover {
  background-color: #C4C4C4;
}
.menu .comunicacao .codigo-externo {
  margin: 10px 0;
}
.menu .comunicacao .grupo-botao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.menu .comunicacao .codigo-externo input[type=text] {
  margin: 5px 0;
  padding: 10px 5px;
  border-radius: 5px;
  border-width: 0px;
  border-color: #d0d0d0;
  color: #fff;
  width: 100%;
  background-color: rgb(160 72 54);
}
.menu .comunicacao .codigo-externo input:focus {
  outline: #fff;
  border-width: 0.1px;
}
.menu .comunicacao .grupo-botao button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  border-width: 0.2px;
  cursor: pointer;
}
.menu .comunicacao .grupo-botao button:hover {
  background-color: #C4C4C4;
}
.menu .comunicacao .grupo-botao button div {
  overflow: hidden;
  width: 30px;
}
.menu .comunicacao .desconhecido label {
  padding: 5px 0;
  user-select: none;
}
.menu .comunicacao .desconhecido input[type=checkbox] {
  background-color: rgba(127, 150, 255, 0.548);
  border-width: 0.1px ;
}

/* Modal Chamada */
.chamada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000d4;
  z-index: 10;
  align-items: center;
  justify-content: center;
  display: flex;
}
.chamada_show {
  display: flex;
}
.chamada .content {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chamada .content p {
  margin: 10px;
  font-weight: bold;
}
.chamada .content .avatar {
  padding: 30px;
  background-color: #4998E0;
  border-radius: 100%;
  margin: 10px;
}
.chamada .content button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.chamada .content .btn_accept_call {
  background-color: #5ba547;
  border: 1px solid #3e9028;
}
.chamada .content .btn_accept_call:hover {
  background-color: #6dc056;
}
.chamada .content .btn_reject_call {
  background-color: #a55247;
  border: 1px solid #864138;
}
.chamada .content .btn_reject_call:hover {
  background-color: #c56c61;
}
/* Centro */
.center {
  flex: 1;
  height: inherit;
  background-color: #C4C4C4;
  padding: 50px 40px;
}
.center .box_video {
  position: relative;
  background-color: #313131;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .box_video .video_remote {
  position: absolute;
  width: 100%;
  height: 100%;
}
.center .box_video .no_call {
  position: absolute;
  height: 100%;
  z-index: 1;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #672314 0%, #A44631 100%);
}
.center .box_video .no_call_show {
  display: flex;
}
.center .box_video .no_call img {
  width: 350px;
}
.center .box_video .no_call p {
  font-size: 68px;
  font-weight: bold;
  color: #fff;
}
.center .box_video .box_video_small {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 250px;
  height: 200px;
  border-radius: 5px;
  background-color: #212121;
  border-color: #fff;
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .box_video .box_video_small .video_local {
  /* width: inherit; */
  height: inherit;
}
.center .box_video .record_actions {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: rgba(173, 173, 173, 0.76);
  border-radius: 10px;
  display: none;
}
.center .box_video .record_actions_show {
  display: block;
}
.center .box_video .record_actions ul{
  list-style: none;
}
.center .box_video .record_actions ul li {
  display: inline-block;
}
.center .box_video .record_actions ul li button {
  padding: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.center .box_video .record_actions ul li button:hover {
  background-color: rgba(255, 255, 255, 0.199);
}
.center .box_video .call_actions {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px 0;
}
.center .box_video .call_actions ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.center .box_video .call_actions ul li {
  display: inline;
}
.center .box_video .call_actions .btn_red {
  background-color: rgb(154 60 60) !important;
}
.center .box_video .call_actions button {
  padding: 10px;
  border-radius: 50px;
  border-width: 0px;
  background: rgba(129, 129, 129, 0.71);
  border: 0.758889px solid #FFFFFF;
  box-sizing: border-box;
  margin: 0 10px;
  cursor: pointer;
}
.center .box_video .call_actions button:hover {
  background-color: rgba(129, 129, 129, 0.877);
}
.center .box_video .call_actions .call {
  width: 100px;
  border-radius: 5px;
  padding: 15px 10px;
  background-color: #9A3C3C;
}
.center .box_video .call_actions .call:hover {
  background-color: #b64545;
}

/* ChatBox */

.chatbox {
  width: 290px;
  height: inherit;
  background-color: #616161;
  /* padding: 10px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.chatbox ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  height: inherit;
  overflow: auto;
}
.chatbox ul li {
  display: flex;
  flex-direction: column;
}
.chatbox ul li div {
  margin: 3px 0;
}
.chatbox ul li a{
  padding: 10px;
  background: linear-gradient(180deg, #E0E0E0 0%, rgba(224, 224, 224, 0.74) 100%);
  border-radius: 11.3718px;
  display: inline-block;
  font-weight: 500;
  max-width: 230px;
  word-break: break-word; /* quebrando as palavras */
}
.chatbox ul .local {
  align-items: flex-end;
}
.chatbox ul .local a{
  background: linear-gradient(180deg, #4998E0 0%, rgba(73, 152, 224, 0.68) 100%);
}
.chatbox ul li p {
  color: #fff;
  font-size: 14px;
}

/* input box */
.chatbox .input_box {
  padding: 5px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
}
.chatbox .input_box input[type=text] {
  border:none;
  width: 100%;
  padding: 0 5px;
}
.chatbox .input_box input:focus {
  outline: none;
}
.chatbox .input_box button {
  padding: 5px;
  background: linear-gradient(180deg, #DD6B18 0%, #FFB950 100%);
  border-radius: 6px;
  border: none;
  display: flex;
  cursor: pointer;
}
.chatbox .input_box button:hover {
  background: linear-gradient(180deg, #dd6a18c5 0%, #ffb950af 100%);
}
.toast {
  position: fixed;
  top: -40px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  min-height: 40px;
  background-color: rgba(46, 46, 46, 0.787);
  z-index: 3;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: .5s linear;
}
.toast_show {
  top: 8px;
}